.root {
  flex-grow: 1;
  background-color: #F0F0F0;
}

.logo {
  color: black;
  font-weight: bold;
}

.lang {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
}

.logo .cause {
  font-family: sans-serif;
  font-size: 14px;
}

.logo .seperator {
    color: red;
}

.langSelectIcon {
  color: transparent !important
}
