
.main{
    display: flex;
    justify-content: space-between;
}
.totalCard {
    margin: 10px;
    min-width: 275px !important;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(255, 152, 0,.4);
}

.confirmedCard {
    margin: 10px;
    min-width: 275px !important;
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(244, 67, 54,.4);
}

.recoveredCard {
    margin: 10px;
    min-width: 275px !important;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(76, 175, 80,.4);
}

.deathsCard {
    margin: 10px;
    min-width: 275px !important;
    background: linear-gradient(60deg, #666966, #5e615e);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(255, 152, 0,.4);
}

.card {
    background-color: orangered;
}

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
  }
.title {
    font-family: Helvetica !important;
    color: #fff !important
  }

.pos {
    margin-bottom: 12;
  }